$colorBrandcolorWhite: #ffffff;    
$colorBrandcolorBlack: #000000;    
$colorBrandcolorBlueberryVerylight: #e4f7f9;    
$colorBrandcolorBlueberryLight: #cae7ed;    
$colorGjennomsiktig50: #ffb4b480;    
